[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
selenium = "*"
pyyaml = "*"
prometheus-client = "*"
chromedriver-binary = "==109.*"

[requires]
python_version = "3"

[scripts]
main = "python3 main.py"
